<div class="container">
  <div class="wrapper">
    <div class="title"><span>Login Form</span></div>
    <form >
      <div class="row">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Enter your name">
      </div>
      <div class="row">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Enter your email">
      </div>
      <div class="row button">
        <div class="pass"><a>Forgot password?</a></div>
        <button type="submit">Submit</button>
      </div>
      <div class="signup_link">Not a account? <a href="#">Sign Up</a></div>
    </form>
  </div>
</div>
