.login {
  max-width: 500px;
  margin: 70px auto;
}
.login .login-email-password {
  padding: 20px;
}
.login .or {
  position: relative;
}
.login .or::before,
.login .or::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 45%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.125);
}
.login .or::before {
  left: 0;
}
.form-group {
  margin-bottom: 1rem;
}
.login .or::after {
  right: 0;
}
.custom-btn {
  border: none !important;
  background-color: #007bff;
  padding: 8px 20px;
  color: #fff !important;
  border-radius: 5px !important;
  margin-right: 10px;
}
.custom-btn:hover {
  background-color: #00abe1;
}
.social-media-login {
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #ffffff;
  position: relative;
}
.social-icon {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
}




/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  background: #7d2ae8;
}
.container{
  max-width: 440px;
  padding: 0 20px;
  margin: 170px auto;
}
.wrapper{
 max-width: 350px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
}
.wrapper .title{
  line-height: 80px;
  background: #16a085;
  text-align: center;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}
.wrapper form{
  padding: 30px 25px 25px 25px;
}
.wrapper form .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.wrapper form .row input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 16px;
  transition: all 0.3s ease;
}
form .row input:hover{
  border-color: #16a085;
  box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}
.wrapper form .row i{
  position: absolute;
  width: 47px;
  height: 100%;
  font-size: 18px;
  background: #16a085;
  border: 1px solid #16a085;
  border-radius: 5px 0 0 5px ;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form .pass{
  margin: -8px 0 20px 0;
}
.wrapper form .pass a{
  color: #16a085;
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .pass a:hover{
  text-decoration: underline;
}
button {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: #16a085;
  border: 1px solid #16a085;
  cursor: pointer;
}
button:hover{
  background: #12876f;
}
.wrapper form .signup_link{
  text-align: center;
  margin-top: 25px;
}
.wrapper form .signup_link a{
  color: #16a085;
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .signup_link a:hover{
  text-decoration: underline;
} */