<div class="container">
  <div class="login">
    <div class="login-email-password card">
      <h2 class="text-center mb-4">Login an Account</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="form-label">Email address</label>
          <input name="email" placeholder="Enter your email" class="form-control" type="text" formControlName="email">
        </div>
        <div class="form-group">
          <label class="form-label">Password</label>
          <input name="password" placeholder="Enter your password" class="form-control" type="password"
                 formControlName="password">
        </div>
        <button type="submit" class="custom-btn w-100 btn btn-primary">Login</button>
      </form>
      <p class="text-center m-0">Don't have an account?
        <button type="button" class="shadow-none btn btn-link">Create an account</button>
      </p>
    </div>
    <p class="or text-center my-3">or</p>
    <div class="login-social-media">
      <button type="button" class="social-media-login w-75 d-block mx-auto my-2 py-2 rounded-pill">
              <span class="social-icon" style="background-color:rgb(224, 72, 49) ;">
                <i class="fab fa-google"></i>
              </span>
        Continue with Google
      </button>
    </div>
  </div>
</div>


<!-- <div class="container">
  <div class="wrapper">
    <div class="title"><span>Login Form</span></div>
    <form >
      <div class="row">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Enter your name">
      </div>
      <div class="row">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Enter your email">
      </div>
      <div class="row button">
        <div class="pass"><a>Forgot password?</a></div>
        <button type="submit">Submit</button>
      </div>
      <div class="signup_link">Not a account? <a href="#">Sign Up</a></div>
    </form>
  </div>
</div> -->
